@import '../../styles/variables.scss';

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;

  @include mq('md') {
    grid-template-columns: 1fr;
  }
}


.tagContainer {
  margin-top: 10px;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.tag {
  font-size: 0.8rem;
  background-color: rgba(128, 128, 128, 0.242);
  border-radius: 0.2rem;
  padding: 2px 4px 1px 4px;
  height: 1.2rem;
}


.date {
  padding: 0.5rem 0 0 0;
  font-size: 0.8rem;
  color: rgba(63, 63, 63, 0.242);
}

.cardLabel {
  padding: 0 0.2rem 0 0.2rem;
  border-radius: 0.2rem;
}

.qiita {
  background-color: #55c500;
  color: white;
}
